$font-size: calc(1rem + 0.25vw) !default
$font-family: "Computer Modern Serif", serif !default
$line-height: 1.6 !default
$link: light-dark(#d97706, #ff7b00) !default
$highlight: #ff7b00 !default

@function gray ($percent)
  @return rgba(mix(light(60), gray), $percent / 100)

@function light ($a: 100, $b: false)
  @if $a and $b
    @return light-dark(light($a), light($b))
  @return hsl(230deg, 18%, $a + 0%)
