---
---

@import utils, basic, layout, classes, rouge_github

body
  background: light-dark( #faf4eb, #faf4eb)
  padding: 0 calc(38% - 22rem)

body > *
  background: light-dark( #faf4eb, #0b0f19)
  color: light-dark( #111827, #e5e7eb)
  padding: 1.75em calc(22% - 6rem)
  padding: clamp(1.5em, 4vw, 1.75em) max(1.5em, 22% - 6rem)
  box-shadow: 0 -1px gray(10) inset, 0 0 1em light-dark(gray(10), transparent), 0 0 0 1px light-dark(transparent, light(26))

body > header, body > footer
  background: light-dark( #ff9933, #ff9933)
  color: light-dark( #1f2937, #f9fafb)

{% if site.show_frame contains "." %}

@media (min-width: 60em)
  body
    background: 0 0/cover url({{ site.show_frame | relative_url }})
    background-attachment: fixed
    color-scheme: only light
    padding: 1em calc(38% - 22rem)
    > :first-child
      border-radius: 4px 4px 0 0
    > :last-child
      border-radius: 0 0 4px 4px

{% endif %}
